<?xml version="1.0" encoding="gb2312"?>
<configuration>
  <ApiService u8server="U8V13" u8user="demo" u8pwd="E83B839E6F96B926" u8acc="999" u8year="2015">
  </ApiService>
  <DataService dbserver="U8V13" dbcatalog="UFDATA_999_2014" dbuser="sa" dbpwd="629A91D9142E8AF5E230830314E07D9C">
  </DataService>
  <Event>
    <Biz dllname="U8.Interface.Bus.Event.SyncAdapter.Factory.BJ" namespace=""> 
    </Biz>
  </Event>
</configuration>